{% extends 'base.html' %}
{% block content %}
<h2>Tabela pomiarów</h2>
<table>
  <tr>
    <th>Data</th>
    <th>Poziom cukru</th>
  </tr>
  {% for el in object_list %}
  <tr>
    <td><a href="{{ el.get_absolute_url }}">{{ el.record_datetime }}</a> </td>
    <td>{{ el.value }}</td>
  </tr>

  {% endfor %}
</table>



</br></br>
<button type="button" class=" btn-primary">
  <a href="{% url 'glucoses:add'%}">Dodaj nowy pomiar</a>
</button>
<!--    <div>-->
<!--        <h2>Dodaj nowy pomiar</h2>-->
<!--        <form method="post">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_p}}-->
<!--            <button type="submit">Dodaj</button>-->
<!--        </form>-->
<!--    </div>-->


{% endblock %}
